<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
    <h2>登入</h2>
    <form action="/dologin" method="post">
        <input type="text" name="username" value="用户名">
        <br>
        <input type="password" name="password" value="">
        <input type="submit" value="注册">
    </form>
    </body>
</html>